@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.main {
  padding: 100px 50px;
}

.link-redirection {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
}

.link-redirection a {
  text-decoration: none;
  color: #000;
}

.link-redirection div {
  font-size: 24px;
}

.link-redirection .first {
  opacity: 0.7;
}